
body{
    margin: 0;
    padding: 0;
}
section{
    background: url(/images/background.png);
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
}
section.box{
    position: absolute;
    width: 721px;
    height: 1024px;
    left: 100px;
    top: 212px;
    background: linear-gradient(90.23deg, rgba(0, 0, 0, 0.61) 0.19%, rgba(0, 0, 0, 0.38) 102.56%);
    background-blend-mode: overlay;
    filter: blur(66.5px);
    border-radius: 46px;
}
form{
    position: absolute;
    width: 521px;
    height: 502px;
    left: 100px;
    top: 212px
}
h1{
    padding: 60px 30px 30px 30px ;
    text-align: center;
}
.input-data{
    width: 521px;
    height: 80px;
    border: 1px solid rgb(255, 60, 0);
    border-radius: 38px;
    margin-top: 20px;
    margin-left: 90px;
}
.input-data::placeholder{
    font-size: 24px;
    color: lightgray;
    padding-left: 20px;
}
button{
    width: 521px;
    height: 80px;
    border-radius: 38px;
    margin-top: 80px;
    margin-left: 90px;
    background-color: #FFCD2D;
    border: none;
}
